/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap");
/*font syntax
    'Roboto', sans-serif;
    'Caveat', cursive;
    'Permanent Marker', cursive;
    'Ubuntu', sans-serif;
    'Ubuntu Condensed', sans-serif;
*/
body {
  overflow: hidden;
}

nav {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: auto;
  grid-template-areas: "nav-button nav-title";
  width: 100%;
  height: 7vh;
  background-color: #171717;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
nav button {
  grid-area: nav-button;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 150px;
  height: 4.5vh;
  margin: 1vh;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
}
nav button:hover {
  transition-duration: 0.25s;
  color: #e74c3c;
  transform: scale(1.1);
  border: 2px solid #e74c3c;
}
nav h1 {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  width: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 50px;
  border-radius: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card h1 {
  text-align: center;
}
.card canvas {
  width: 45vw;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "sidebar stats" "sidebar graph";
}
.main-container aside {
  grid-area: sidebar;
  background-color: #2e2e2e;
  height: 100%;
  width: 100%;
  padding: 10%;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 15px;
}
.main-container aside .form-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-template-areas: "tab" "formA" "formB";
}
.main-container aside .form-container .tab-container {
  grid-area: tab;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.main-container aside .form-container .tab-container button {
  border: none;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 70px;
  height: 2vh;
  margin: 1vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  padding-bottom: 0.1em;
}
.main-container aside .form-container .tab-container button:hover {
  transition-duration: 0.25s;
  color: #e74c3c;
  transform: scale(1.1);
}
.main-container aside .form-container .tab-container #buttonCustomers {
  text-decoration: underline;
}
.main-container aside .form-container .tab-container #buttonUsage {
  text-decoration: none;
}
.main-container aside .form-container form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.main-container aside .form-container form h1 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}
.main-container aside .form-container form h2 {
  margin-top: 2vh;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}
.main-container aside .form-container form #inputPowerUsage {
  margin-bottom: 5vh;
}
.main-container aside .form-container form button {
  margin-top: 3vh;
  position: relative;
  width: 150px;
  border: none;
  background: #e74c3c;
  color: white;
  padding: 1em;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}
.main-container aside .form-container form button:hover {
  opacity: 1;
}
.main-container aside .form-container form button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}
.main-container .dashboard {
  grid-area: stats;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.main-container .graphs {
  grid-area: graph;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
}
.main-container .graphs h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}

input {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  height: 5vh;
  padding-left: 10px;
}

#formCustomer {
  display: flex;
}

#formUsage {
  grid-area: formB;
  display: none;
}

#formSearch {
  grid-area: formA;
  display: none;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "search" "results";
}
#formSearch div {
  grid-area: search;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#formSearch div input {
  grid-area: search;
  height: 3vh;
  width: 75%;
  margin-right: 0;
}
#formSearch div button {
  grid-area: find;
  margin-top: 20px;
  height: 3vh;
  width: 25%;
  margin-left: 0;
}
#formSearch p {
  z-index: 10;
  grid-area: results;
  background-color: rgb(255, 255, 255);
  color: #000;
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 3px;
  margin-top: 1vh;
  margin-bottom: 5vh;
  height: 10vh;
  width: 97%;
  overflow-y: scroll;
}/*# sourceMappingURL=main.css.map */