/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap');
/*font syntax
    'Roboto', sans-serif;
    'Caveat', cursive;
    'Permanent Marker', cursive;
    'Ubuntu', sans-serif;
    'Ubuntu Condensed', sans-serif;
*/
$fontMain: 'Ubuntu', sans-serif;
$fontTitle: 'Permanent Marker', cursive;
$fontCondensed: 'Ubuntu Condensed', sans-serif;


$colorMain: rgba(17, 17, 17);
$colorAlpha: rgba(17, 17, 17, 0);
$fontColor: rgba(255, 255, 255, 1);

$accent: #e74c3c;

@keyframes slide-in {
    0% {
      left: -100vw;
    }
    100% {
      left: 0;
    }
}

@keyframes slide-out {
    0% {
      left: 0vw;
    }
    100% {
      left: -100vw;
    }
}



body{
overflow: hidden;
}

html{overflow: hidden;}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5%;

    width: 100vw;

    position: absolute;
    right:0;
    bottom: 0;

    background-color: #c0392b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    p{
        font-family: $fontCondensed;
        color: $fontColor;
        width: 100%;
        padding-left: 5%;
        text-align: center;
    }
}

h1, h2{
    font-family: $fontMain;
}


@mixin font-border-scale($min-font, $preferred-font, $max-font) {
    font-size: clamp(#{$min-font}, #{$preferred-font}, #{$max-font});
    border-width: calc(#{$min-font} / 5);
}

nav{
    //border: 2px solid purple;

    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 7vh;
    background-color: #171717;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

    .nav-button-container{
        //border: 2px solid red;

        height: 7vh;

        grid-area: nav-buttons;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        gap: 10px;

        .nav-button{
            grid-area: nav-button;

            width: 25vw;
            height: 4.5vh;
            border-radius: 10px;
    
            background-color: $colorMain;
            font-family: $fontMain;
            color: $fontColor;
            text-align: center;

            @include font-border-scale(5px, 10px, 15px);
            border-style: solid;
            border-color: $fontColor;
            transition: border-width 0.2s ease-in-out;
            
    
            &:hover {
                transition-duration: 0.25s;
                color: $accent;
                transform: scale(1.025);
                border: 2px solid $accent;
            }
        }
        #menuButton{
            width: 20%;
        }
    }


    h1{
        //border: 2px solid blue;

        padding-left: 20px;
        color: $fontColor;
        font-family: $fontMain;
        font-size: auto;
        text-align: left;
    }
}


.main-container{
    overflow: hidden;

    height: 100vh;
    width:  100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "main";

    aside{
        //border: 2px solid red;
        z-index: 100;
        position: absolute;

        flex-direction: column;
        align-items: center;

        grid-area: main;
        background-color: #2e2e2e;

        height: 90vh;
        width: 70%;
        padding: 3vh;
        padding-top: 0px;

        box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 15px;

        .form-container{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr;
            grid-template-areas:
            "tabType"
            "formA"

            "tabAction"
            "formB";

            .tab-container{
                //border: 2px solid purple;

                //grid-area: tab;
                display: flex;
                flex-direction: row;
                justify-content: center;

                width: 100%;
                height: fit-content;

                button{
                    border: none;
                    background-color: transparent;
                    text-align: center;
                    justify-content: center;
                    color: $fontColor;
                    width: 70px;
                    height: 2vh;
                    margin: 1vh;
                    font-family: $fontMain;
                    font-size: 1em;
                    padding-bottom: 0.1em;
            
                    &:hover {
                        transition-duration: 0.25s;
                        color: $accent;
                        transform: scale(1.1);
                    }     
                }
                
                #buttonCustomers{
                    text-decoration: underline;
                    
                }
                #buttonUsage{
                    text-decoration: none;
                }
            }

            form{
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;
    
                h1{
                    color: $fontColor;
                    font-size: 1.5rem;
                    font-family: $fontMain;
                }
        
                h2{
                    margin-top: 10px;
                    color: $fontColor;
                    font-size: 1.5rem;
                    font-family: $fontMain;
                }
                #inputPowerUsage{
                    margin-bottom: 5vh;
                }
        
                button {
                    margin-top: 4vh;
                    position: relative;
                    width: 150px;
                    border: none;
                    background: #e74c3c;
                    color: white;
                    padding: 0.5em;
                    font-family: $fontMain;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: 0.2s;
                    border-radius: 5px;
                    opacity: 0.8;
                    letter-spacing: 1px;
                    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
        
                    &:hover {
                        opacity: 1;
                    }
                      
                    &:active {
                        top: 4px;
                        box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
                    }
                }
            }
        }
    }

    .dashboard-container{

        //border: 2px solid red;

        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .dashboard{
            //border: 2px solid red;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin-top: 20px;
    
        }

        .card{
            //border: 2px solid green;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border-radius: 20px;
            padding: 10px;
            margin: 10px;
        
            height: fit-content;
            width: 90vw;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
            h2{
                text-align: left;
                width: 100%;
                padding-left: 20px;
            }
        }

        .graphs{

            //border: 2px solid blue;

            display: flex;
            align-items: center;
            justify-content: center;
            //flex-wrap: wrap;
            width: 90vw;
            height: 50%;

            .card{

                h3{
                    font-family: $fontMain;
                    font-size: auto;
                }

            }
    
        }

    }
}

input{
    font-family: $fontMain;
    font-weight: bold;
    margin-top: 10px;
    height: 3vh;
    padding-left: 5px;
}

//Ids:
#mainTab{
    display: none;
}

#tabType{
    grid-area: tabType;

}

#tabAction{
    grid-area: tabAction;
}

#formCustomer{
    display: flex;
}

#formUsage{
    grid-area: formB;
    display: none;
}


//universal forms
#formSearch{
    grid-area: formA;
    display: grid;

    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "search"
        "results";

    div{    
        grid-area: search;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        input{
            grid-area: search;
            height: 3vh;
            width: 75%;
            margin-right: 0;
            
        }

        button{
            height: 3vh;
            width: 25%;
            margin-top: 0.9vh;
            margin-left: 0;
        }
    }

    p{
        z-index: 10;
        grid-area: results;
        background-color: $fontColor;
        color: #000;
        font-family: $fontCondensed;

        padding: 3px;
        margin-top: 1vh;
        margin-bottom: 5vh;

        height: 10vh;
        width: 97%;

        overflow-y: scroll ;
    }
}

#formRead{
    display: none;
}

#formDelete{
    display: none;
}

 // DESKTOP DESIGN //
 @media only screen and (min-width: 900px),
 only screen and (orientation: landscape){

    input{
        height: 4vh;
    }

    footer{
        width: auto;
        height: auto;
        border-radius: 20px 0 0 0;
        padding: 10px;
        padding-right: 2.5%;

        p{
            width: 100%;
            text-align: center;
        }
    }

    nav{
    //border: 2px solid purple;

    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 7vh;
    background-color: #171717;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

    .nav-button-container{
        //border: 2px solid red;

        height: 7vh;

        grid-area: nav-buttons;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        //justify-content: center;

        gap: 10px;

        .nav-button{
            grid-area: nav-button;

            width: 140px;
            height: 4.5vh;
            border-radius: 10px;
    
            border: 2px solid $fontColor;
            background-color: $colorMain;
            font-family: $fontMain;
            color: $fontColor;
            text-align: center;
            font-size: clamp(10px, 15px, 15px);
    
            &:hover {
                transition-duration: 0.25s;
                color: $accent;
                transform: scale(1.025);
                border: 2px solid $accent;
            }
        }
        #menuButton{
            width: 20%;
        }
    }


    h1{
        //border: 2px solid blue;

        padding-left: 30px;
        color: $fontColor;
        font-family: $fontMain;
        font-size: auto;
        text-align: left;
    }
}

    .main-container{

        overflow: hidden;
    
        height: 100vh;
        width:  100vw;

        display: flex;
    
        aside{
            //border: 2px solid red;
            z-index: 100;
            
            flex-direction: column;
            align-items: center;
    
            grid-area: sidebar;
            background-color: #2e2e2e;
    
            height: 90vh;
            width: fit-content;
            padding: 3vh;
            padding-top: 0px ;
    
            box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 15px;
        }
    
        .dashboard-container{
    
            //border: 2px solid red;
    
            grid-area: stats;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
    
            .dashboard{
                //border: 2px solid red;
    
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 90%;
                margin-top: 20px;
        
            }
    
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                border-radius: 20px;
                padding: 10px;
                margin: 10px;
            
                height: fit-content;
                width: 90%;
                max-width: 500px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
                h2{
                    text-align: center;
                    width: 100%;
                }
            }
    
            .graphs{
    
                //border: 2px solid blue;
    
                display: flex;
                align-items: center;
                justify-content: center;
                //flex-wrap: wrap;
                width: 90%;
                height: 50%;
    
                .card{
    
                    h3{
                        font-family: $fontMain;
                        font-size: auto;
                    }
                }
            }
        }
    }

    #mainTab{
        display: flex;
    }
 }